@media(max-width: 380px){
    #logo {
        width: 200px;
        margin-bottom: 20px;
    }

    #lista {
        gap: 50px;
        font-size: 10px;
    }

    .produtos img {
        width: 100px;
        border-radius: 10px;
        box-shadow: 3px 4px 15px black;
        margin-bottom: 10px;
    }
}