@media(max-width: 380px){
    #logo {
        width: 200px;
        margin-bottom: 20px;
    }

    #lista {
        margin-right: 20px;
    }

    .produtos img {
        width: 90px;
        border-radius: 10px;
        box-shadow: 3px 4px 15px black;
        margin-bottom: 10px;
    }
}